@charset "UTF-8";
@font-face {
  font-family: 'YouandiNewKr';
  src: url('../font/YouandiNewKr/YouandiNewKrText-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'YouandiNewKr';
  src: url('../font/YouandiNewKr/YouandiNewKrText-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'YouandiNewKr';
  src: url('../font/YouandiNewKr/YouandiNewKrText-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'YouandiNewKr';
  src: url('../font/YouandiNewKr/YouandiNewKrText-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'YouandiNewKr';
  src: url('../font/YouandiNewKr/YouandiNewKrText-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SF-Pro';
  src: url('../font/SF-Pro/SF-Pro.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SF-Pro';
  src: url('../font/SF-Pro/SF-Pro-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

// 변수 정의
$primary-color: #002c5f;
$secondary-color: #00a5e5;
$text-color: #1a1a1a;
$background-color: #ffffff;
$font-family-yn: 'YouandiNewKr', sans-serif;
$font-family-sf: 'SF-Pro', sans-serif;

// 기본 스타일 리셋
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  display: inline-block;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

input::placeholder {
  color: #999;
  opacity: 1; /* 일부 브라우저에서 흐리게 나오는 것 방지 */
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: $font-family-sf, $font-family-yn, sans-serif;
  line-height: 1.6;
  color: $text-color;
  background-color: $background-color;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;
  z-index: 100;
  background-color: #fff;

  &__container {
    display: flex;
    align-items: center;
    width: 1776px;
    height: 72px;
    margin: 0 auto;
  }

  &__logo {
    margin-left: 96px;
    font-size: 0;

    img {
      vertical-align: top;
    }
  }

  &__nav {
    margin-left: auto;
    margin-right: 84px;
  }

  .nav {
    &__list {
      display: flex;
      column-gap: 24px;
    }

    &__item {
      height: 26px;
      width: 180px;
      text-align: center;

      a {
        text-decoration: none;
        color: #1a1a1a;
        font-family: $font-family-yn;
        font-size: 20px;
        line-height: 1.3;
        font-weight: 700;
      }
    }
  }
}

.sub-page {
  padding-top: 72px;
}

.page {
  &-header {
    display: flex;
    align-items: flex-end;
    width: 1776px;
    height: 456px;
    margin: 0 auto;
    background: url('../../../frontAssets/pc/image/bg_top_management.png') no-repeat 0% 0%;
    border-radius: 24px;

    &.about {
      background-image: url('../../../frontAssets/pc/image/bg_top_about.png');
    }

    &.esg {
      background-image: url('../../../frontAssets/pc/image/bg_top_esg.png');
    }

    &.esg-2 {
      background-image: url('../../../frontAssets/pc/image/main_visual_esg_2.png');
    }
  }

  &-header__content {
    width: 1200px;
    margin: 0 auto;
  }

  &-title {
    font-size: 56px;
    font-family: $font-family-yn;
    color: #fff;
    font-weight: 700;
    margin-bottom: 27px;
  }
}

.content-container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding: 64px 0 140px 0;
}

.tab {
  &-list {
    display: flex;
    column-gap: 24px;
  }

  &-item {
    position: relative;
    width: 282px;
    height: 64px;

    &.link::before {
      content: '';
      position: absolute;
      top: 12px;
      left: 100%;
      width: 24px;
      height: 40px;
      background: url('../../../frontAssets/pc/image/shape.png') no-repeat; // 배경색 제거
      background-size: contain; // 이미지 크기 조정
    }

    a {
      display: block;
      width: 100%;
      height: 100%;
      padding: 13px 0;
      font-size: 24px;
      line-height: 1.6;
      font-weight: 700;
      letter-spacing: -0.5px;
      text-decoration: none;
      text-align: center;
      border-radius: 16px;
    }

    &:not(.active) a {
      background-color: #f2f2f2;
      color: #1a1a1a;
    }

    &.active a {
      background-color: #561c24;
      color: #fff;
    }
  }

  &-sub-menu {
    margin-top: 64px;
    margin-bottom: 30px;
  }

  &-sub-list {
    display: flex;
  }

  &-sub-item {
    a {
      font-size: 24px;
      line-height: 1.3;
      font-weight: 700;

      text-decoration: none;
    }

    &.active a {
      color: #1a1a1a;
    }

    &:not(.active) a {
      color: #999999;
    }

    &:not(:first-child)::before {
      display: inline-block;
      content: '';
      width: 1px;
      height: 18px;
      background-color: #ebebeb;
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}

.search-box-careers {
  display: flex;
  align-items: center;
  height: 64px;
  border: 2px solid #1a1a1a;
  border-radius: 16px;
  padding: 0 24px;
  margin-bottom: 40px;

  .input-keyword {
    display: flex;
    align-items: center;
    width: 540px;
    height: 32px;

    input {
      flex: 1;
      height: 100%;
      font-weight: 700;
      font-size: 20px;
      line-height: 1.3;
      border: none;
      outline: none;
    }

    .reset {
      display: inline-block;
      width: 24px;
      height: 24px;
      font-size: 0;
      background: url('../../../frontAssets/pc/image/icon_close.png') no-repeat;
    }

    .search {
      margin-left: 4px;
      width: 32px;
      height: 32px;
      font-size: 0;
      background: url('../../../frontAssets/pc/image/icon_search.png') no-repeat;
    }
  }

  .divider {
    width: 2px;
    height: 18px;
    background-color: #ebebeb;
    margin-left: 24px;
    margin-right: 24px;
  }

  .select-wrap {
    position: relative;
    width: 215px;
  }

  .select-button {
    width: 100%;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.3;
    text-align: left;
    background: url('../../../frontAssets/pc/image/icon_check_20x20.png') no-repeat 100% 50%;
  }

  .reset-wrap {
    width: 32px;
    height: 32px;
    font-size: 0;
    line-height: 0;
  }

  .reset-button {
    width: 100%;
    height: 100%;
    font-size: 0;
    background: url('../../../frontAssets/pc/image/icon_reset.png') no-repeat 0 0;
  }
}

.search {
  &-box {
    padding: 64px 0 40px;
  }

  &-form {
    position: relative;
    width: 588px;
    height: 64px;
    margin: 0 auto;
  }

  &-input {
    width: 100%;
    height: 100%;
    border: 2px solid #1a1a1a;
    border-radius: 16px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.3;
    padding: 13px 24px;
  }

  &-button {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
    background: url('../../../frontAssets/pc/image/icon_search.png') no-repeat;
    background-size: contain;
    font-size: 0;
  }

  &-clear {
    position: absolute;
    top: 21.5px;
    right: 53.5px;
    width: 21px;
    height: 21px;
    font-size: 0;
    background: #ebebeb url('../../../frontAssets/pc/image/icon_clear.png') no-repeat;
    background-size: contain;
    border-radius: 50%;
  }
}

.news {
  &-list-content {
    width: 1200px;
    margin: 0 auto;
  }

  &-item {
    padding: 24px 24px 22px 24px;
    &:not(:last-child) {
      border-bottom: 2px solid #f2f2f2;
    }
  }

  &-link {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  &-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.3;
    color: #1a1a1a;

    &:hover {
      color: #fc642d;
    }
  }

  &-file {
    display: inline-block;
    font-size: 0;
    line-height: 0;
    width: 20px;
    height: 20px;
    background: url('../../../frontAssets/pc/image/icon_clip.png') no-repeat;
    background-size: contain;
    margin-left: 8px;
  }

  &-new {
    display: inline-block;
    font-size: 0;
    line-height: 0;
    width: 30px;
    height: 10px;
    background: url('../../../frontAssets/pc/image/icon_new.png') no-repeat;
    background-size: contain;
    margin-left: 8px;
  }

  &-date {
    margin-left: auto;
    color: #808080;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.6;
  }

  &-detail {
    padding-top: 40px;

    &__header {
      padding: 24px;
      display: flex;
      align-items: center;
      border-bottom: 2px solid #f2f2f2;
    }

    &__title {
      font-size: 20px;
      line-height: 1.3;
      font-weight: 700;
      color: #1a1a1a;
      padding-right: 71px;
    }

    &__date {
      font-size: 16px;
      line-height: 1.6;
      color: #808080;
      font-weight: 700;
    }

    &__new-icon {
      display: inline-block;
      font-size: 0;
      line-height: 0;
      width: 30px;
      height: 10px;
      background: url(../../../frontAssets/pc/image/icon_new.png) no-repeat;
      background-size: contain;
      margin-left: 8px;
    }

    &__content {
      padding: 24px;
      font-size: 20px;
      line-height: 1.6;
      font-weight: 500;
    }

    &__img {
      margin-bottom: 32px;
    }

    &__download {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
      font-size: 0;
    }

    &__download-btn {
      display: inline-block;
      align-items: center;
      height: 44px;
      padding-left: 16px;
      padding-right: 12px;
      font-size: 16px;
      line-height: 1.4;
      font-weight: 700;
      color: #1a1a1a;
      background-color: #f2f2f2;
      border-radius: 8px;
    }

    &__download-icon {
      display: inline-block;
      font-size: 0;
      line-height: 0;
      width: 24px;
      height: 24px;
      background: url('../../../frontAssets/pc/image/icon_download.png') no-repeat;
      vertical-align: top;
    }

    &__prev-next {
      margin-top: 40px;
      margin-bottom: 40px;
    }

    &__prev-next-item {
      display: flex;
      height: 74px;
      padding: 24px;
      border-top: 2px solid #f2f2f2;
    }

    &__prev-next-link {
      text-decoration: none;
      font-size: 20px;
      line-height: 1.3;
      font-weight: 700;

      span:first-child {
        color: #fc642d;
        padding-right: 24px;
      }

      span:last-child {
        color: #1a1a1a;
        padding-left: 24px;
      }

      .prev-label {
        background: url('../../../frontAssets/pc/image/icon_arrow_top_orange.png') no-repeat 100%
          50%;
      }

      .next-label {
        background: url('../../../frontAssets/pc/image/icon_arrow_down_orange.png') no-repeat 100%
          50%;
      }
    }

    &__prev-next-date {
      margin-left: auto;
      font-size: 16px;
      line-height: 1.6;
      font-weight: 700;
      color: #808080;
    }

    &__more-btn-wrapper {
      display: flex;
      justify-content: center;
    }

    &__more-btn {
      width: 382px;
      height: 64px;
      background-color: #ebebeb;
      color: #1a1a1a;
      font-size: 20px;
      line-height: 1.3;
      font-weight: 700;
      border-radius: 16px;
    }
  }
}

.careers-list {
  &__item {
    display: flex;
    align-items: center;
    padding: 24px 24px 22px 24px;
    border-bottom: 2px solid #f2f2f2;
  }

  &__info {
    flex: 1;
  }

  &__title {
    height: 30px;
    padding: 2px 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.3;
    color: #1a1a1a;
    margin-bottom: 8px;
    text-decoration: none;

    &:hover {
      color: #fc642d;
    }
  }

  &__date {
    font-size: 20px;
    color: #808080;
    font-weight: 700;
    line-height: 1.6;

    .divider {
      margin: 0 8px;
    }

    .d-day {
      margin-left: 12px;
      color: #fc642d;
    }
  }

  &__tags {
    margin-left: auto;
    font-size: 0;

    .tag {
      display: inline-block;
      font-size: 20px;
      line-height: 1.6;
      font-weight: 700;
      color: #808080;
      text-align: center;

      &:nth-child(1) {
        width: 55px;
      }

      &:nth-child(2) {
        width: 99px;
        margin-left: 48px;
      }
    }

    .divider {
      margin: 0 16px;
    }
  }
}

.careers-detail {
  &-header {
    &-top {
      display: flex;
      align-items: center;
      padding: 24px;
    }

    &-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 14px 22px;
      border: 2px solid #f2f2f2;
      border-radius: 16px;
    }

    .careers-list__title {
      margin-bottom: 0;
    }
  }
}

.careers-status-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 32px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 16px;
  margin-right: 24px;

  &.active {
    background-color: #fc642d;
    color: #ffffff;
  }

  &.upcoming {
    background-color: #1a1a1a;
    color: #ffffff;
  }

  &.closed {
    background-color: #b3b3b3;
    color: #fff;
  }
}

.careers-detail {
  &__wrap {
    display: flex;
    align-items: center;
    border: 1px solid #f2f2f2;
    border-radius: 16px;
    padding: 20px 24px;
    font-size: 20px;
    line-height: 1.6;
    font-weight: 700;

    .divider {
      margin: 0 4px;
    }
  }

  &__date {
    color: #808080;
  }

  &__d-day {
    color: #fc642d;
    margin-left: 12px;
  }

  &__type {
    margin-left: auto;
    color: #808080;
  }
}

// ESG
.rnc-summary {
  display: flex;
  font-weight: 700;
  color: #1a1a1a;

  .title {
    width: 384px;
    line-height: 1.3;
    font-size: 34px;
  }

  .desc {
    margin-left: 24px;
    line-height: 1.6;
    letter-spacing: -0.5px;
    font-size: 24px;
  }

  ~ .rnc-summary {
    margin-top: 100px;
  }
}

.council-scheme {
  display: flex;
  flex-wrap: wrap;
  margin-top: 56px;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 32px 24px;
    border-radius: 16px;
    background-color: #561c24;
    color: #fff;

    &:not(:first-child) {
      margin-top: 24px;
    }

    &.w-half {
      width: calc((100% - 24px) / 2);

      & + .council-scheme__item.w-half {
        margin-left: 24px;
      }
    }

    .title {
      line-height: 1.3;
      font-size: 28px;
      font-weight: 700;
    }

    .desc {
      line-height: 1.3;
      font-size: 16px;
      font-weight: 700;
    }
  }

  &__list {
    width: 100%;
    margin-top: 32px;
    overflow: hidden;

    .council-scheme__item {
      float: left;
      background-color: #fff;
      margin-top: 0;
      padding: 24px 32px 32px 32px;
      color: #1a1a1a;

      .title {
        width: 100%;
        padding-bottom: 16px;
        border-bottom: 2px solid #f2f2f2;
        text-align: center;
        color: #8a1f2d;
      }

      .list {
        margin-top: 24px;

        li {
          display: flex;
          line-height: 1.6;
          font-weight: 700;

          &:not(:first-child) {
            margin-top: 8px;
          }

          &::before {
            content: '';
            flex-shrink: 0;
            display: block;
            width: 4px;
            height: 4px;
            margin-top: 12px;
            border-radius: 2px;
            background-color: #1a1a1a;
            margin-right: 8px;
          }
        }
      }

      &:nth-child(2) {
        position: relative;

        &::before {
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          right: 100%;
          margin-top: -50px;
          width: 24px;
          height: 100px;
          background: url('../../../frontAssets/pc/image/shape_link_24x100.png') no-repeat 0 0 /
            cover;
        }
      }
    }
  }

  > .council-scheme__item.w-half {
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 120px;
      height: 24px;
      background: url('../../../frontAssets/pc/image/shape_link_120x24.png') no-repeat 0 0 / cover;
    }

    &::before {
      bottom: 100%;
    }

    &::after {
      top: 100%;
    }
  }
}

.process-scheme {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 56px;

  &__item {
    width: calc((100% - 24px) / 2);

    &:nth-child(2) {
      margin-left: 24px;

      .list {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          right: 100%;
          top: 50%;
          margin-top: -40px;
          display: block;
          width: 24px;
          height: 80px;
          background: url('../../../frontAssets/pc/image/shape_link_24x80.png') no-repeat 0 0 /
            cover;
        }
      }
    }

    > .title {
      border-radius: 20px;
      background-color: #561c24;
      padding: 16px 20px;
      text-align: center;
      line-height: 1.3;
      font-size: 24px;
      font-weight: 700;
      color: #fff;
    }

    .list {
      margin-top: 24px;
      display: flex;

      li {
        display: flex;
        flex-direction: column;
        width: calc((100% - 24px) / 2);
        min-height: 300px;
        padding: 32px 40px 40px;
        border-radius: 20px;
        background-color: #f2f2f2;
        font-weight: 700;
        color: #1a1a1a;

        &:nth-child(2) {
          position: relative;
          margin-left: 24px;

          &::before {
            content: '';
            position: absolute;
            right: 100%;
            top: 50%;
            margin-top: -80px;
            display: block;
            width: 24px;
            height: 160px;
            background: url('../../../frontAssets/pc/image/shape_link_24x160.png') no-repeat 0 0 /
              cover;
          }
        }

        .step {
          font-size: 16px;
        }

        .title {
          margin-top: 8px;
          letter-spacing: -0.5px;
          font-size: 24px;
          color: #8a1f2d;
        }

        .desc {
          margin-top: auto;
        }
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  padding-top: 40px;

  .button-more {
    width: 382px;
    height: 64px;
    background-color: #ebebeb;
    color: #1a1a1a;
    font-size: 20px;
    line-height: 1.3;
    font-weight: 700;
    border-radius: 16px;
    margin: 0 auto;
  }
}

.footer {
  margin-top: auto;
  &__container {
    max-width: 1920px;
    min-width: 1200px;
    height: 140px;
    padding: 40px 156px 58px;
    margin: 0 auto;
    border-top: 3px solid #f2f2f2;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__address {
    height: 42px;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 700;
    font-style: normal;
  }

  &__copyright {
    font-size: 14px;
    line-height: 1.4;
    font-weight: 700;
    font-style: normal;
    align-self: flex-start;
  }
}

.button-top-wrapper {
  position: fixed;
  bottom: 236px;
  left: 50%;
  transform: translateX(-50%);
  width: 1920px;
  z-index: 100;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;

  &.visible {
    opacity: 1;
    visibility: visible;
  }

  .button-top {
    position: absolute;
    right: 32px;
    width: 64px;
    height: 64px;
    border-radius: 16px;
    background: #561c24 url('../../../frontAssets/pc/image/icon_arrow_top.png') no-repeat;
    background-position: center;
    font-size: 0;
    pointer-events: auto;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;

  &-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &.sm {
      width: 288px;
    }
  }

  &-content {
    border-radius: 16px;
    background-color: #fff;
  }

  &-body {
    padding: 28px 24px 29px;
  }

  &-title {
    padding: 14.5px 0;
    font-size: 16x;
    line-height: 1.4;
    font-weight: 700;
    color: #1a1a1a;
  }

  &-footer {
    display: flex;
    justify-content: center;
    padding: 16px 0 17px;
    border-top: 1px solid rgba(0, 0, 0, 0.08);

    .btn {
      width: 100%;
      height: 22px;
      font-size: 16px;
      line-height: 1.4;
      color: #000000;
      font-weight: 700;
    }
  }

  &__dim {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.not-result {
  padding-top: 120px;
  text-align: center;

  &__title {
    font-size: 28px;
    line-height: 1.3;
    font-weight: 700;
    color: #1a1a1a;
  }

  &__keyword {
    color: #fc642d;
  }

  &__description {
    margin-top: 16px;
    font-size: 20px;
    line-height: 1.6;
    font-weight: 700;
    color: #808080;
  }
}

.select-dropdown {
  position: absolute;
  width: 239px;
  top: -19px;
  left: -24px;
  background-color: #fff;
  border: 2px solid #1a1a1a;
  border-radius: 16px;
  padding: 16px 16px 16px 16px;

  &__title {
    height: 32px;
    width: 100%;
    text-align: left;
    font-size: 20px;
    line-height: 1.3;
    font-weight: 700;
    color: #1a1a1a;
    background: url('../../../frontAssets/pc/image/icon_arrow_top_black.png') no-repeat 100% 50%;
  }

  &__list {
    margin-top: 26px;
  }

  &__item {
    height: 32px;
    display: flex;
    align-items: center;

    &:not(:first-child) {
      margin-top: 10px;
    }

    input[type='checkbox'] {
      width: 32px;
      height: 32px;
      background: url('../../../frontAssets/pc/image/icon_check_32x32_off.png') no-repeat 100% 50%;
      border: 0;
      appearance: none;
    }

    input[type='checkbox']:checked {
      background: url('../../../frontAssets/pc/image/icon_check_32x32_on.png') no-repeat 100% 50%;
    }

    label {
      width: 100%;
      display: inline-block;
      font-size: 20px;
      line-height: 1.3;
      font-weight: 700;
    }

    &:not(.active) label {
      color: #999999;
    }

    &.active label {
      color: #1a1a1a;
    }
  }
}

/* utility */
.text-center {
  text-align: center;
}

.mt-\[80px\] {
  margin-top: 80px;
}

.mb-\[32px\] {
  margin-bottom: 32px;
}

.list-disc li {
  margin-left: 1em;
  list-style: disc;
}

.bd-0 {
  border: 0;
}

.divider {
  display: inline-block;
  width: 1px;
  height: 16px;
  background-color: #dddddd;
}

/* 접근성을 고려한 blind 클래스 */
.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* 포커스 시에도 blind 유지 (필요한 경우에만 사용) */
.blind-focus {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  &:focus {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
  }
}

/* 스크린리더에서만 읽히고 키보드 포커스 시 표시되는 클래스 */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  &:focus {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    white-space: normal;
  }
}

/* FP0009.html ESG Content Styles */
.esg-introduction {
  &__title {
    font-size: 34px; // Adjust as needed
    font-weight: 700;
    line-height: 1.3;
    color: #8a1f2d;
    margin-bottom: 24px;
  }

  &__description {
    font-size: 24px;
    line-height: 1.6;
    font-weight: 700;
  }
}

.esg-strategy {
  display: flex;

  &__title {
    width: 280px;
    font-size: 34px;
    line-height: 1.3;
    font-weight: 700;
  }

  &__description {
    flex: 1;
    padding-left: 48px;
    font-size: 25px;
    line-height: 1.6;
    font-weight: 700;
    letter-spacing: -0.5px;
  }
}

.esg-pillars {
  display: flex;
  padding-top: 56px;
  justify-content: space-between;
}

.esg-pillar {
  width: 378px;

  &__category {
    padding-top: 32px;
    font-size: 16x;
    line-height: 1.4;
    font-weight: 700;
    color: #fc642d;
    margin-bottom: 8px;
  }

  &__title {
    font-size: 34px;
    line-height: 1.3;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 20px;
  }

  &__list {
    font-size: 20px;
    line-height: 1.6;
    font-weight: 700;
  }

  &__item {
    position: relative;
    margin-bottom: 4px; // Space between list items

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.esg-pillar__image-wrapper {
  position: relative;
  width: 378px;
  height: 504px;
  border-radius: 16px;
  background-position: center;
  background-size: cover;

  &.environment {
    background-image: url('../../../frontAssets/pc/image/background_esg_2_1.jpeg');
  }

  &.social {
    background-image: url('../../../frontAssets/pc/image/background_esg_2_2.jpeg');
  }

  &.governance {
    background-image: url('../../../frontAssets/pc/image/background_esg_2_3.jpeg');
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 16px;
  }
}

.esg-divider {
  position: relative;
  width: 100%;
  height: 3px;
  margin: 80px 0 100px;
  background-color: #f2f2f2;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    width: 288px;
    height: 3px;
    background-color: #f2f2f2;
  }

  &::after {
    left: -288px;
  }

  &::before {
    right: -288px;
  }
}

/* ==========================================================================
   Portfolio - Business Section Styles
   ========================================================================== */
.page-header.business {
  background-image: url('../../../frontAssets/pc/image/main_visual_business.png');
}

.business-section {
  padding-top: 16px;

  &__main-title {
    font-size: 48px;
    font-weight: 700;
    font-family: $font-family-yn;
    color: $text-color;
    text-align: center;
    margin-bottom: 16px;
    line-height: 1.3;
  }

  &__description {
    font-size: 20px;
    font-family: $font-family-yn;
    color: #666;
    text-align: center;
    margin-bottom: 80px;
    line-height: 1.6;
  }
}

.business-cards {
  display: flex;
  justify-content: space-between;
  gap: 32px; // 카드 사이 간격
}

.business-card {
  flex: 1; // 카드가 동일한 너비를 가지도록 설정

  &__content {
    height: 296px;
  }

  &__category {
    display: block;
    font-size: 16px;
    line-height: 1.4;
    color: #fc642d; // 카테고리 텍스트 색상
    font-weight: 700;
    margin-bottom: 8px;
  }

  &__title {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1.3;
  }

  &__description {
    font-size: 20px;
    line-height: 1.6;
    font-weight: 700;
    letter-spacing: -0.5px;
  }

  &__note {
    display: block;
    font-size: 16px;
    line-height: 1.4;
    color: #808080;
    margin-top: 8px;
  }

  &__figure {
    width: 100%;
    height: 496px; // 이미지 높이 고정
    overflow: hidden;
    font-size: 0; // figure와 img 사이 여백 제거
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover; // 이미지 비율 유지하며 채우기
  }
}

/* ==========================================================================
   Portfolio - Assets Section Styles
   ========================================================================== */

.portfolio-assets {
  margin-top: 36px;

  &__list {
    display: grid; // 그리드 레이아웃 사용
    grid-template-columns: repeat(1, 1fr); // 기본 1열
    gap: 32px; // 아이템 사이 간격
  }
}

.asset-card {
  display: flex;
  gap: 24px;

  &__figure {
    position: relative;
    flex-shrink: 0; // 이미지가 줄어들지 않도록
    width: 384px; // 이미지 영역 너비 고정
    height: 384px; // 이미지 영역 높이 고정
    font-size: 0; // figure와 img 사이 여백 제거

    // 임시
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      border-radius: 16px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover; // 이미지 비율 유지하며 채우기
    border-radius: 16px 0 0 16px; // 왼쪽 모서리만 둥글게
  }

  &__details {
    position: relative;
    flex: 1; // 남은 공간 모두 차지
    padding: 40px 48px; // 내부 여백
    background-color: #f2f2f2;
    border-radius: 20px;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: -24px;
      width: 24px;
      height: 160px;
      background: url('../../../frontAssets/pc/image/shape_24x160.png') no-repeat 0 0 / cover;
      transform: translateY(-50%);
    }
  }

  &__name {
    font-size: 28px;
    line-height: 1.3;
    font-weight: 700;
    color: #8a1f2d; // 자산 이름 색상
    margin-bottom: 8px;
  }

  &__address {
    font-size: 20px;
    line-height: 1.6;
    font-weight: 700;
    letter-spacing: -0.5px;
    margin-bottom: 40px;
  }

  &__info-item {
    display: flex;
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: -0.5px;

    dt {
      width: 105px; // 라벨 너비 고정
      margin-right: 32px;
      font-weight: 700;
    }

    dd {
      font-weight: 500;
    }
  }
}

/* ==========================================================================
   About - Company Section Styles
   ========================================================================== */
.company-introduction {
  margin-top: 16px;
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 80px;
  border-bottom: 3px solid #f2f2f2;

  &::before,
  &::after {
    content: '';
    position: absolute;
    bottom: -3px;
    width: 288px;
    height: 3px;
    background-color: #f2f2f2;
  }

  &::after {
    left: -288px;
  }

  &::before {
    right: -288px;
  }

  &__title {
    font-size: 34px;
    font-weight: 700;
    line-height: 1.3;
    color: #8a1f2d;
    margin-bottom: 24px;
  }

  &__description {
    font-size: 24px;
    line-height: 1.6;
    font-weight: 700;
    letter-spacing: -0.5px;
  }
}

.synergy-network {
  padding-top: 100px;
  width: 1200px;
  margin: 0 auto;

  &__header {
    display: flex;
  }

  &__title {
    width: 280px;
    margin-right: 24px;
    font-size: 34px;
    font-weight: 700;
    line-height: 1.3;
  }

  &__description {
    flex: 1;
    font-size: 24px;
    line-height: 1.6;
    font-weight: 700;
    letter-spacing: -0.5px;
  }
}

.synergy-network__diagram {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 60px;

  .flex-row {
    display: flex;
    gap: 24px;
    flex-direction: row;
  }

  .flex-left-column {
    display: flex;
    flex-direction: column;
    gap: 24px;

    > div {
      width: 282px;
    }
  }

  .flex-right-column {
    display: flex;
    flex-direction: column;
    gap: 24px;

    > div {
      width: 282px;
      height: 162px;
    }
  }
}

.diagram__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: #f2f2f2;
  height: 100px;
  width: 100%;

  &--top::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -24px;
    width: 200px;
    height: 24px;
    transform: translateX(-50%);
    background: url('../../../frontAssets/pc/image/shape_200x24.png') no-repeat 0 0 / cover;
  }

  &--hmc::before,
  &--heng::before,
  &--hcs::before,
  &--hcard::before,
  &--hcomm::before {
    content: '';
    position: absolute;
    left: 50%;
    top: -24px;
    width: 60px;
    height: 24px;
    transform: translateX(-50%);
    background: url('../../../frontAssets/pc/image/shape_60x24.png') no-repeat 0 0 / cover;
  }

  &--hmc::after,
  &--heng::after,
  &--hcs::after {
    content: '';
    position: absolute;
    right: -24px;
    top: 50%;
    width: 24px;
    height: 60px;
    transform: translateY(-50%);
    background: url('../../../frontAssets/pc/image/shape_24x60.png') no-repeat 0 0 / cover;
  }

  &--hcard::after,
  &--hcomm::after {
    content: '';
    position: absolute;
    left: -24px;
    top: 50%;
    width: 24px;
    height: 60px;
    transform: translateY(-50%);
    background: url('../../../frontAssets/pc/image/shape_24x60.png') no-repeat 0 0 / cover;
  }

  &--center {
    height: 348px;
    flex: 1;
  }
}

.management-philosophy {
  margin-top: 100px;

  &__header {
    display: flex;
    margin-bottom: 56px;
  }

  &__title {
    width: 280px;
    margin-right: 24px;
    font-size: 34px;
    font-weight: 700;
    line-height: 1.3;
  }

  &__description {
    font-size: 24px;
    line-height: 1.6;
    font-weight: 700;
    letter-spacing: -0.5px;
  }
}

.management-philosophy__pillars {
  display: flex;
  gap: 24px;

  .pillar-item {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 360px;
    padding: 40px;
    border-radius: 20px;
    background-color: #561c24;
  }

  .pillar-item__icon-wrapper {
    width: 72px;
    height: 72px;

    img {
      width: 100%;
    }
  }

  .pillar-item__name {
    margin-top: auto;
    font-size: 28px;
    font-family: $font-family-yn;
    line-height: 1.3;
    font-weight: 700;
    letter-spacing: -0.5px;
    color: #fff;
    margin-bottom: 16px;
  }

  .pillar-item__description {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 500;
    color: #fff;
  }
}
